@import url("https://fonts.googleapis.com/css?family=nunito:400,600,700,800,900&display=swap");

root{
    --green:#007ea7;
    --blue:#192a56;
    --ligt-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

img{
	max-width: 100%;
	max-height: 100%;
}
.header{
	width: 100%;
	height: 150px;
	display: flex;
	background-color: #192a56;
}

.innerhead{
	width: 70%;
	height: 150px;
	display: flex;
	justify-content: center;
}

h1{
    color:#ffff;
}

.header-icon{
	color:#fff;
	display: flex;
	width:15%;
	justify-content: space-evenly;
	align-items: center;
}

.mobilenav{
	font-size: 50px;
	cursor: pointer;
}

/*off-screen-menu*/
.off-screen-menu{
	background-color: #192a56;
	height: 100vh;
	width: 100%;
	max-width: 450px;
	position: fixed;
	top: 0;
	right: -450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 3rem;
	transition: .3s ease;
}
.off-screen-menu.active{
	right: 0;
}

nav{
	padding: 1rem;
	display: flex;
	background-color:#192a56;
}

.ham-menu{
	height: 50px;
	width: 50px;
	margin-left: auto;
	position: relative;
}

.ham-menu span{
	height: 5px;
	width: 100%;
	background-color: #fff;
	border-radius: 25px;
	position: absolute;
	top: 50px;
	left: 50px;
	transform: translate(-50%, -50%);
	transition: .3s ease;
}
.ham-menu span:nth-child(1) {
	top: 25%;
}
.ham-menu span:nth-child(3) {
	top: 65%;
}

.ham-menu.active span:nth-child(1) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45eg);
}
.ham-menu.active span:nth-child(2) {
	opacity: 0;
}
.ham-menu.active span:nth-child(3){
	top: 50%;
	transform: translate(-50%, 50%)rotate(-450deg);
}

.ham-menu{
	font-size: 50px;
	cursor: pointer;
    color: #ffff;
}

.navlist{
	height: 100px;
}

.navmenu{
	list-style-type:none;
	margin: 0;
	padding: 0;
	padding-top: 1%;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
}

.black{
	color: black;
}


.menubutton{
	display: block;
	padding: 8px;
	color: #007ea7;
	font-size: 30PX;
	text-decoration: none;
}

/*desktop nav switch*/

@media screen and (min-width: 601px) {
	.mobilenav{
		display: none;
	}
}

/*mobile nav switch*/

@media screen and (max-width: 600px) {
	.profile-icon{
		display: none;
	}
	.navlist{
		display: none;
	}
}

.One{
	display: flex;	
	justify-content: center;
	align-items: center;
}

#FIRST{
	width: 70%;
	padding-top: 5%;
}

.title2{
    text-align:center; 
	
	background-color:#192a56; 
	padding: 5%; 
	font-size:30px;
	color: #fff;
}
.special{
	display: flex;
	justify-content: center;
	max-width: 100%;
}

#special{
	
	padding-top: 10%;
}

.Explore{
	text-align:center; 
	background-color:#192a56; 
	padding: 3%; 
	font-size:30px;
	color: #fff;
}

.social-icons{
    position: fixed;
    left: 65px;
    bottom: 0%;
 }
 
.social-icons ul li{
    margin-top: 5px;
    text-align: center;
 }
 
.social-icons ul li a{
    color: #ffffff;
    padding: 10px;
    display: block;
    font-size: 29px;
 }
 
.social-icons ul li a:hover{
    background-color: #007ea7;
    color: #fff;
 }
 
